@use "sass:color";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:host {
  font-family: 'Ubuntu', sans-serif;
}

.app {
  background-color:#ecf0f1;
  min-height: 100vh;
}

.app > .container {
  padding: 12px;
  max-width: 600px;
  margin: 0 auto;
}

.logo {
  text-align: center;
}

.game-over-container {
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(255,255,255, 0.8);
  left: 0;
  top: 0;
  position: fixed;
  display: flex;
  user-select: none;
}

.players {
  display: flex;
}

.players .player {
  display: flex;
  align-items: center;
}

.players .player img {
  display: block;
}